@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(51 65 85);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(100 116 139);;
    border-radius: 50px;
  }